<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>SpringZoom</title>
    <link rel="stylesheet" th:href="@{/webjars/font-awesome/4.7.0/css/font-awesome.min.css}"/>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-alpha.6-1/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/cover.css}"/>
  </head>
  <body>
    <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <div class="masthead clearfix">
            <div class="inner">
              <h3 class="masthead-brand">KadarH</h3>
              <nav class="nav nav-masthead">
                <a target="_blank" class="nav-link active" href="https://github.com/kadarH">My GitHub</a>
                <a target="_blank" class="nav-link" href="https://www.linkedin.com/in/hamza-kadar-3b74a0115/">My Linkedin</a>
                <a target="_blank" class="nav-link" th:href="@{'https://drive.google.com/open?id=1ijWiM_e4S_7Dy3pZSSsuNRYm_GgLbfWz'}">MyCv</a>
                <a target="_blank" class="nav-link" th:href="@{'#'}">My team  </a>
              </nav>
            </div>
          </div>

          <div class="inner cover">
            <h1 class="cover-heading">Software Engineer</h1>
            <p class="lead">Java Developer / Spring lover</p>
            <p class="lead">
              <a href="https://github.com/kadarH" class="btn btn-lg btn-secondary">My Github</a>
            </p>
          </div>

        </div>

      </div>

    </div>
   <script th:src="@{/webjars/bootstrap/4.0.0-alpha.6-1/js/bootstrap.min.js}"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script th:src="@{/webjars/bootstrap/4.0.0-alpha.6-1/js/ie10-viewport-bug-workaround.js}"></script>
  </body>
</html>
