<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:fragment="head">
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>SpringZoom</title>
    <link rel="stylesheet" th:href="@{/webjars/font-awesome/4.7.0/css/font-awesome.min.css}"/>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-alpha.6-1/css/bootstrap.min.css}"/>
    <link rel="stylesheet"
          th:href="@{/webjars/bootstrap-datepicker/1.6.4/css/bootstrap-datepicker.standalone.min.css}"/>
    <link rel="script" th:href="@{/webjars/bootstrap/4.0.0-alpha.6-1/js/bootstrap.min.js}"/>

</head>
<body>
<div class="container">
    <div class=" text-center alert alert-success py3 m-5 p-5">
        <h2>Java / Spring developer</h2>
    </div>
    <div class="justify-content-center text-center bg-inverse py3 m-5 p-5 row">
        <a href="https://github.com/kadarH" type="button"
           class="text-muted m-3 text-dark btn btn-success py-4 col-lg-3 col-md-10 col-sm-10"><h3>Github</h3></a>
        <a href="https://www.linkedin.com/in/hamza-kadar-3b74a0115/" type="button"
           class="text-muted m-3 btn btn-info col-lg-3 py-4 col-md-10 col-sm-10"><h3>Linkedin</h3></a>
        <a th:href="@{'https://drive.google.com/open?id=1ijWiM_e4S_7Dy3pZSSsuNRYm_GgLbfWz'}" type="button"
           class="text-muted m-3 btn bg-faded py-4 col-lg-3 col-md-10 col-sm-10"><h3>cv</h3></a>
    </div>
</div>
</body>
</html>
